APP_NAME="BOOK RENT"
APP_ENV=dev
APP_LANGUAGE=en

DATABASE_HOST="mongodb://localhost:30001,localhost:30002,localhost:30003"
DATABASE_NAME=jaden
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DEBUG=false
DATABASE_OPTIONS=replicaSet=rs0&retryWrites=true&w=majority

AUTH_JWT_SUBJECT=CypherBookRent
AUTH_JWT_ISSUER=Cypher
AUTH_JWT_AUDIENCE=https://book-rent.com

AUTH_JWT_ACCESS_TOKEN_SECRET_KEY="9lgjbCzSO8IYSNZu47H2A60gtRx"
AUTH_JWT_ACCESS_TOKEN_EXPIRED=1h

AUTH_JWT_REFRESH_TOKEN_SECRET_KEY="GdK1suxWbotKPmIYkagL7DD9jwGiXEDP"
AUTH_JWT_REFRESH_TOKEN_EXPIRED=14d
AUTH_JWT_REFRESH_TOKEN_NOT_BEFORE_EXPIRATION=1h

AUTH_JWT_PAYLOAD_ENCRYPT=false
AUTH_JWT_PAYLOAD_ACCESS_TOKEN_ENCRYPT_KEY="VegYkBtAqVLTUf6CZqvHLvwiDHeAtPU5"
AUTH_JWT_PAYLOAD_ACCESS_TOKEN_ENCRYPT_IV="vHcAemH5aJ5Lw91pwsIv4xVX4ILINhml"
AUTH_JWT_PAYLOAD_REFRESH_TOKEN_ENCRYPT_KEY="hpbzKIqE2G9mt027LcfKvEXvJWY2cF6E"
AUTH_JWT_PAYLOAD_REFRESH_TOKEN_ENCRYPT_IV="k9ANX8QuWaSEGudVB88i4PBBmMkshAnT"

CLOUDINARY_NAME="k9ANX8QuWaSEGud"
CLOUDINARY_API_KEY="k9AN"
CLOUDINARY_API_SECRET="Sd"

VNPAY_TMNCODE=""
VNPAY_HASHSECRET=""